@use "@/styles/mixins";
@use "@/styles/variables" as vars;

.ResumeList {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  @include mixins.gap(1);

  li {
    break-inside: avoid-column;
  }

  >li {
    &::before {
      content: "\021e8";
      margin-inline-end: calc(var(--gap) * 2);
    }

    >div {
      display: inline;
    }

    >ul {
      list-style-position: inside;
      list-style-type: circle;
      margin-left: calc(var(--gap) * 4);
    }
  }

  @media screen and (min-width: vars.$break-point-medium) {
    &.Col2 {
      display: block;
      column-count: 2;
    }
  }
}