.Board {
  width: 100%;
  aspect-ratio: 7 / 6;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
}

@container board-container (min-aspect-ratio: 7 / 6) {
  .Board {
    width: unset;
    height: 100%;
  }
}