@use "@/styles/mixins";
@use "@/styles/variables" as vars;

.PasswordGenerator {
  width: min(100%, var(--max-page-width));
  font-size: 1.1rem;
  overflow: hidden;
  @include mixins.border-rounded;
}

.Top {
  output {
    font-size: 1.1em;
    min-height: 3em;
    text-align: center;
    @include mixins.grid-center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: lime;
    background-color: rgb(24, 24, 24, 0.75);
    font-family: vars.$ff_monospace;
    word-break: break-all;
  }
}

.Bottom {
  background-color: rgb(230, 230, 230, 0.795);
  @include mixins.padding(3, 3);
  @include mixins.gap(5);
  display: flex;
  flex-flow: column nowrap;

  .LengthInputs {
    display: flex;
    align-items: center;
    @include mixins.gap(3);
  }

  .Checkboxes {
    display: flex;
    flex-flow: column nowrap;
    @include mixins.gap(3);
  }

  .Controls {
    @include mixins.flex-center(row, wrap);
    @include mixins.gap(2);
  }
}