.FlagCounter {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.25em;
  color: white;
}

.FlagCounterFlag {
  display: block;
  width: 1em;
  aspect-ratio: 1;
  background: url("/img/minesweeper/flag.png") center / cover no-repeat;
}