$hue1: 240;
$clr1: hsl($hue1, 100%, 25%);
$gradient1: linear-gradient(to right, $clr1, hsl($hue1, 99%, 30%));

.Resume {
  height: 100%;
  width: min(100%, var(--max-page-width));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  h1,
  h2,
  h3 {
    color: white;
    text-align: center;
    font-family: inherit;
  }

  .Top {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    background: $clr1;
    background: $gradient1;
    padding: 0.5em;
    position: relative;

    @media print {
      h1 {
        font-size: 1.05rem;
      }

      h2 {
        font-size: 0.95rem;
      }
    }
  }
}