body.rotate-body {
  animation: rotate_body 3s 250ms ease-out;
}

.Minesweeper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--gap);

  &__Top {
    height: 100%;
    width: 100%;
    container: grid-container / size;
    display: grid;
    place-items: center;
  }

  &__Bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    button {
      width: max-content;
    }
  }

  @media only screen and (orientation: landscape) {
    flex-direction: row;
    gap: 0;

    &__Bottom {
      flex-direction: column;
    }
  }
}

@keyframes rotate_body {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }

  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}