@use "@/styles/variables" as vars;

$main-gap: 0.4em;
$hue1: 240;
$clr1: hsl($hue1, 100%, 25%);
$gradient1: linear-gradient(to right, $clr1, hsl($hue1, 99%, 30%));

.Bottom {
  flex: 1;
  padding: $main-gap;
  background-color: hsl(0, 0%, 84%);

  article {
    padding: $main-gap;
    border-radius: 5px;
    background-color: white;
  }

  h3 {
    background: $clr1;
    background: $gradient1;
    color: white;
    padding: 0.33em;
    margin-bottom: 0.33em;
  }

  @media screen and (min-width: vars.$break-point-small) {
    display: grid;
    gap: $main-gap;
    grid-template-areas:
      "p c c c c c"
      "s s t t t t"
      "s s e e e e"
      "l l l l h h";
  }

  @media print {
    display: grid;
    padding: 2px;
    gap: 2px;
    grid-template-areas:
      "p c c c c c"
      "s s t t t t"
      "s s t t t t"
      "s s e e e e"
      "h h e e e e"
      "h h l l l l";

    article {
      padding: 0.2em;
    }

    h3 {
      font-size: 0.895rem;
    }
  }
}