@use "@/styles/variables" as vars;

$main-gap: 0.4em;
$hue1: 240;
$clr1: hsl($hue1, 100%, 25%);
$gradient1: linear-gradient(to right, $clr1, hsl($hue1, 99%, 30%));

.Bottom {
  --pic-min-size: 100px;
  flex: 1;
  padding: $main-gap;
  background-color: hsl(0, 0%, 84%);

  article {
    padding: $main-gap;
    border-radius: 5px;
    background-color: white;
  }

  h3 {
    background: $clr1;
    background: $gradient1;
    color: white;
    padding: 0.33em;
    margin-bottom: 0.33em;
  }

  .List {
    list-style-type: none;

    li {
      break-inside: avoid-column;
    }

    >li {
      &::before {
        content: "\021e8";
        margin-right: 0.45em;
      }

      +li {
        margin-top: 0.2em;
      }

      >div {
        display: inline;
      }
    }

    .SubList {
      list-style-position: inside;
      list-style-type: circle;
      margin-left: 1em;
    }
  }

  .Date {
    text-decoration: underline;
  }

  @media screen and (min-width: vars.$break-point-small) {
    --pic-min-size: 230px;
    display: grid;
    gap: $main-gap;
    grid-template-areas:
      "p c c c c c"
      "s s t t t t"
      "s s e e e e"
      "l l l l h h";

    .List.col2 {
      column-count: 2;
    }
  }

  @media print {
    display: grid;
    gap: $main-gap;
    grid-template-areas:
      "p c c c c c"
      "s s t t t t"
      "s s t t t t"
      "s s e e e e"
      "h h e e e e"
      "h h l l l l";

    article {
      padding: 0.2em;
    }

    h3 {
      font-size: 0.895rem;
    }
  }
}

.PicContainer {

  grid-area: p;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: min(100%, var(--pic-min-size));
  }
}

.ContactDetail {
  grid-area: c;

  dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.2em 0.5em;
    margin-bottom: 0.8em;

    dt {
      img {
        max-width: 1rem;
      }
    }

    dd {
      address {
        font-style: normal;
      }
    }
  }
}

.Hobbies {
  grid-area: h;
}

.Skills {
  grid-area: s;
}

.Exp {
  grid-area: e;
}

.Training {
  grid-area: t;
}

.Languages {
  grid-area: l;
}