@use "@/styles/mixins";
@use "@/styles/variables" as vars;

.Skills {
  grid-area: s;
}

.SkillList {
  list-style: none;
  display: flex;
  flex-direction: column;
  @include mixins.gap(1);

  li {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    @include mixins.gap(2);
  }
}

.Circles {
  display: inline-flex;
  @include mixins.gap(1);

  .Circle {
    --size: 1em;
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: lightgray;

    &[data-filled="filled"] {
      background: vars.$clr_green_light;
    }

    &[data-filled="half"] {
      background: linear-gradient(to right, vars.$clr_green_light 50%, lightgray 0);
    }

    @media print {
      --size: 0.85em;
    }
  }
}