@use "@/styles/mixins";
@use "@/styles/variables" as vars;

.SkillList {
  list-style: none;
}

.Circles {
  display: inline-flex;
  @include mixins.gap(1);
  margin-inline-end: 0.5em;

  .Circle {
    --size: 1em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: lightgray;

    @media print {
      --size: 0.85em;
    }

    &.CircleFilled {
      background-color: vars.$clr_green_light;
    }
  }
}